---
/*========================================*/
/*	PAGE: Home/Index
		NOTES:	
*/
/*========================================*/

//Essential Components
	import Layout from '@layouts/Layout.astro';

//Content Components
	//import MasterComponent from '@components/MasterComponent.astro';
	import LinkCard from '@components/contentComponents/LinkCard.astro';
	// SplitLayout from '@components/contentLayouts/SplitLayout.astro';
	import FooterNotice from '@components/contentComponents/FooterNotice.astro';
	import SiteQRCodeLink from '@components/contentComponents/SiteQRCodeLink.astro';
	//import DisplayBits from '@components/DisplayBits.astro';

//Site Data
	const siteData = await import("src/data/siteData.json");
	const pageData = await import("src/data/page-content-template.json");
---

<Layout 
	title={pageData.title}
	heading={pageData.title}
>
	
	<article id="article-content">
		<h2>{pageData.subtitle}</h2>
		<p>Page Type: {pageData.pageType}</p>
		<hr/>
		<h2>Simple HTML Page Content:</h2>
		<p set:html={pageData.description}></p>
	</article>

</Layout>


<style lang="scss" is:global>
	#article-content{
		//max-width: 800px;
		padding: 1rem;

		img{
			display: block;
			margin: 1rem auto;
			width: auto;
			max-width: 100%;
			height: auto;
		}
	}
</style>
